<!-- contact -->
	<div id="contact" class="column shadow rounded-top">
		<h2>Contact Us</h2>
		<div class="column">
			<h3>Social Media</h3>
			<h5><a href="#"><i class="fab fa-instagram"></i>BulkBuy</a></h5>
			<h5><a href="#"><i class="fab fa-instagram"></i>BulkBuy</a></h5>
			<h5><a href="#"><i class="fab fa-facebook-f"></i>BulkBuy</a></h5>
		</div>
		<div class="column">
			<h3>Email</h3>
			<h5><i class="fas fa-envelope"></i>johann12venter@gmail.com</h5>
			<h5><i class="fas fa-envelope"></i>bulkbuy@gmail.com</h5>
		</div>
		<div class="column">
			<h3>Phone</h3>
			<h5><i class="fas fa-phone-alt"></i>Johan Venter: 0649056201</h5>
			<h5><i class="fas fa-phone-alt"></i>Bulk Buy: 0123456789</h5>
		</div>
	</div>