<!-- top navbar-->
<nav id="sidenav" class="sidenav shadow navbar column">
	<a href="/">Home</a>
	<a href="/userprofile">Order</a>
	<!-- <a href="/couriers">Couriers</a> -->
	<a href="/info">Information</a>
	<a href="/log_out">Log Out</a>
</nav>