<!-- top navbar-->
<nav id="top-nav" class="navbar shadow space-between row">
	<div class="row center">
		<button id="nav-bars" class="fas fa-bars nav-content" onclick="toggleSideNav()"></button>
		<!-- <img class="nav-content" src="SVG/logo.svg" style="width: 4rem"> -->
		<a class="nav-content" href="/">BulkBuy</a>
	</div>
	<div class="row center">
		<a id="nav-login" class="fas fa-user nav-content" href="/login"></a>
	</div>
</nav>